/* See http://www.w3schools.com/css/css_table.asp
*/

table.spreadsheet
{ border-collapse:collapse;
}

table.spreadsheet td
{ border: 1px solid black;
}

table.spreadsheet td.intable
{ background-color:#a8ffcc;
}

table.spreadsheet td.intables
{ background-color:#eaa1ff;
}

table.spreadsheet td.c1
{ background-color:#d3e170;
}

table.spreadsheet td.c2
{ background-color:#9be170;
}

table.spreadsheet td.c3
{ background-color:#70e1d2;
}

table.spreadsheet td.c4
{ background-color:#7fd8ff;
}

table.spreadsheet td.c5
{ background-color:#78f0d3;
}

table.spreadsheet td.float,td.percentage
{ text-align:right;
}

table.spreadsheet td.derived
{ color:blue;
  //font-weight:bold;
}

table.spreadsheet th.colname,th.rowname
{ background-color:black;
  color:white;
}

